@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../fonts/fonts.css";

:root {
    --brGreen: #2E444F;
    --brGrey: #4E5859;
    --white: #ffffff;
    --black: #000000;
    --brand-1: #FBF7E9;
    --brand-2: #E9DDC9;
    --brand-3: #E2B394;
    --brand-4: #B5734D;
    --brand-5: #7C4121;
    --brand-6: #F7A037;
    --brand-7: #EA4E25;
    --brand-8: #FFD4CB;
    --brand-9: #1F2A48;
}

body {
    font-family: "Quincy CF";
    color: var(--brand-9);
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-kerning: normal;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    word-wrap: break-word;
}

h1 {
    font-size: 3.052rem;
    font-weight: 700;
    line-height: 1.25;
}

h2,
.h2
h3,
.h3
h4,
.h4 {
    font-weight: 600;
    line-height: 1.25;
}


h2,
.h2 {
    font-size: 2.441rem;
}

h3,
.h3 {
    font-size: 1.953rem;
}

h4,
.h4 {
    font-size: 1.563rem;
}

a {
    text-decoration: none;
}

caption, .caption {
    line-height: 1.5;
}